<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-green-300">
    {% include "components/navbar.html.jinja"%}

    <h1 style="text-align: center" class="text-3xl font-bold underline">
    <br>
      Browse Page
    </h1>
    <br>


    {% for x in products %}
    
    <div>
    <img src=" {{ x['Image'] }} " >
    <br>
    {{ x["Name"] }}<br><br>
    ${{x["Price"]}}
    
    </div>
    {% endfor%}
  </body>
</html>