<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body style="background-image: linear-gradient(to right, lightblue, yellow);">
    {% include "components/navbar.html.jinja"%}
    
    <h1 style="text-align: center" class="text-4xl font-bold underline">
    <br>
      My Contacts
    </h1>
    <br>
   <p style="text-align: center;" class="text-xl">Hello my name is Jesiah Minott and welcome to Jesiah's Tech Trek. This is the place where you get PC parts at affordible prices, get service to fix your parts and you can win free prizes </p>
   <br>
   <br>
   <p style="text-align: center" class="text-xl">Below we have our products on sale and you can find all products we give on the navbar above</p>
  </body>
</html>    