<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="J.M Logo.jpg" type="image/x-icon">

  </head>
  <body style="background-image: linear-gradient(to right, lightblue, orange);">
    
  {% include "components/navbar.html.jinja"%}
  {# Use to make for loops in html.jinja #}
  {# Flash message display #}
  {% for message in get_flashed_messages() %}
  <li>{{message}}</li>
  {% endfor %}
  {# End flash message display #}
  <form method="post" class="modal-content animate bg-yellow-100 p-6 rounded-lg max-w-3xl mx-auto mt-10 shadow-lg border-4 border-blue-600 items-center"> 
    <div class="grid gap-3 max-w-4xl mx-auto ">
    <br>
      <p style="text-align: center" class="text-3xl font-bold underline">Login</p>
      
      <label for="email"><b>Email</b></label>
      <input type="text" required placeholder="Enter Email" name="email" class="bg-blue-400 p-2 flex items-center justify-between shadow-lg border-b-4 border-blue-600">
<br><br><br><br><br><br>


      <label for="psw"><b>Password</b></label>
      <input type="password" required placeholder="Enter Password" name="psw" class="bg-blue-400 p-2 flex items-center justify-between shadow-lg border-b-4 border-blue-600">
<br><br><br><br><br><br>


  <div style="text-align: center;" >
  <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md shadow-md transition duration-150 ease-in-out justify-center text-center">
   <a href="/signup" style="color: white; text-decoration-line: underline;">
No account
  </div>
  </a>
</button>
    </div>
  </form>
</div>
  </body>
</html>    