<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body style="background-image: linear-gradient(to right, lightblue, pink);">
  {% include "components/navbar.html.jinja"%}
  <br>
  <br>
  <div class="flex justify-center items-center gap-5 mx-auto max-w-60/100 text-center mt-25 bg-green-300 p-6 rounded-lg shadow-lg">
  <div style="width: 60%;">
 <img src=" {{ product['Image'] }} " >
     <div class="font-bold text-2xl">{{ product["Name"] }}</div>
    <div class="font-bold text-2xl">${{ product["Price"] }}</div> 
  </div>
    <div class="font-bold text-2xl">{{ product["Description"] }}</div>
  </div>
  <br>
  <div style="text-align: center;" >
  <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md shadow-md transition duration-150 ease-in-out justify-center text-center">
  Add to Cart
  </div>
</button>
  </body>
</html>