<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Using Tailwind 4 via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body style="background-image: linear-gradient(to right, lightblue, yellow);">
    {% include "components/navbar.html.jinja"%}
    
    <div class="grid gap-3 max-w-4xl mx-auto px-4">
      
      <h1 class="text-center text-3xl md:text-4xl font-bold underline mt-8 mb-4">
      Thank You for Your Purchase!
      </h1>
  </body>
</html>
