<nav class="bg-blue-400 p-4 flex items-center justify-between">
<a href="/">Techbar</a>

<div class="flex items-center gap-5">
    <a style="color: red; text-decoration-line:underline" href=""> Products </a>
    <a style="color: orange; text-decoration-line:underline" href=""> Contacts </a>
    <a style="color: yellow; text-decoration-line:underline" href=""> Sales </a>
    <a style="color: green; text-decoration-line:underline" href=""> Wishlist</a>
    <button><a style="color: blue; text-decoration-line:underline" href=""class="btn-link"> Sign in </a></button>
    <button><a style="color: purple; text-decoration-line:underline" href="" class="button-link"> Sign up </a></button>


<style>
.btn-link {
display: inline-block;
padding: 10px 15px;
background-color: rgb(128, 0, 58);
color: white;
text-decoration: none;
border-radius: 10px;
}
.btn-link:hover {
background-color: darkgreen;
}
</style>
<style>
.button-link {
display: inline-block;
padding: 10px 15px;
background-color: rgb(223, 171, 194);
text-decoration: none;
border-radius: 10px;
}
.button-link:hover {
background-color: orangered;
}
</style>
</div>

</nav>