<nav class="bg-blue-400 p-4 flex items-center justify-between shadow-lg border-b-4 border-blue-600">
<a href="/">Techbar</a>
<div class="flex items-center gap-5">

    {% if not current_user.is_authenticated %}
    <a style="color: purple; text-decoration-line:underline" href="/signup" class="button-link"> Sign Up </a>   

    {% elif current_user.is_authenticated %}
    <a style="color: red; text-decoration-line:underline" href="/browse"> Browse </a>
    <a style="color: orange; text-decoration-line:underline" href="/contact"> Contacts </a>
    <a style="color: yellow; text-decoration-line:underline" href="/sales"> Sales </a>
    <a style="color: green; text-decoration-line:underline" href="/wishlist"> Wishlist</a>
    <a style="color: purple; text-decoration-line:underline" href="/logout" class="button-link"> Logout </a>
Hi, {{ current_user.name }}!
    {% endif %}
</div>
</nav>




<style>
.btn-link {
display: inline-block;
padding: 10px 15px;
background-color: rgb(128, 0, 58);
color: white;
text-decoration: none;
border-radius: 10px;

}
.btn-link:hover {
background-color: darkgreen;
}
</style>
<style>
.button-link {
display: inline-block;
padding: 10px 15px;
background-color: rgb(223, 171, 194);
text-decoration: none;
border-radius: 10px;
}
.button-link:hover {
background-color: orangered;
}
</style>

